<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <connectionStrings>
    <!-- <add name="SportsShopEntities" connectionString="metadata=res://*/base.Model.csdl|res://*/base.Model.ssdl|res://*/base.Model.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=(localdb)\MSSQLLocalDB;initial catalog=SportsShop;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    <add name="SportsShopEntities" connectionString="metadata=res://*/base.Model.csdl|res://*/base.Model.ssdl|res://*/base.Model.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=YADERY\SQLEXPRESS;initial catalog=SportsShop;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="SportsShopEntities1" connectionString="metadata=res://*/base.Model.csdl|res://*/base.Model.ssdl|res://*/base.Model.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=YADERY\SQLEXPRESS;initial catalog=SportsShop;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="SportsShopEntities2" connectionString="metadata=res://*/base.Model1.csdl|res://*/base.Model1.ssdl|res://*/base.Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=YADERY\SQLEXPRESS;initial catalog=SportsShop;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>